

.collapse {
    margin-left: 50%;
}

*{
margin: 0;
padding:0;
box-sizing: border-box;

}
body{
font-family:'Bebas Neue' ,sans-serif ;
}
 h1{

    font-size: 2.5rem;
     font-weight:  700;
 }
 h2{

    font-size: 1.8rem;
     font-weight:  600;
 }
  h3{

    font-size: 1.5rem;
     font-weight:  800;
  }
  h4{

    font-size: 1.2rem;
     font-weight:  600;
 }
 h5{

    font-size: 1rem;
     font-weight:  400;
 }
 h6{

    color:  #d8d8d8;
   
 }
  button{
 font-size: 0.8rem;
 font-weight: 900;
  outline:none ;
  border: none;
 background-color:   violet;
 color:  aliceblue;
 padding:  13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
  }
   button:hover{
 color:black;
 }
 .nav{
  
 font-size: 16px;
 padding-top: 2rem !important;
 padding-bottom:  2rem !important;
 top: 0;
  left: 0;
  box-shadow: 0 5px 10px  rgba(0,0,0,);
  
 }
 .nav-light .navbar-nav .nav-link{
 padding: 0 20px;
  color:violet ;
   transition: 0.4s ease ;
}
.navbar .navbar-nav .nav-link:hover ,
.navbar i:hover,
.navbar .navbar-nav .nav-link.active,
.navbar i:hover {
  color: violet; 
}
 
.navbar i {
font-size: 1.2rem;
padding-top:  0.5rem !important;
padding: 0 1rem;
transition: 0.4s ease;
 cursor: pointer;
margin-left: 6px ;

}
 .navbar{
   background-color: grey;
 }
 #home{
    background-image: url('../assets/css/js/imgs/beb.jpeg');
    width: 100%;
    height:100vh;
    background-repeat:  no-repeat;
    background-size:cover; 
   
    background-position-y:80px ;
    display:flex;
    flex-direction: column;
     justify-content:center;
      align-items: flex-start ;
 }
  
 #home span {
    color: violet;
  }
 #new .one img{
  width: 100%;
 height: 100%;
 background-position:  center;
  background-repeat:  no-repeat;
  background-size: cover;
 }
    #new.one{
       position: relative;
    }
   


 #new .one .details{
 position: absolute;
  top: 0;
 left: 0;
 color: violet;
 font-weight: bold;
 transition: 0.4s ease;
 opacity: 0.8;
 background-color:grey;
  width: 100%;
    height: 100%;
} 
#new .one .details:hover{
  background-color: ghostwhite;
}
#new .one:nth-child(1) .details{
 display: flex;
 justify-content:  center;
  flex-direction: column;
 align-items: flex-start;
 text-align: start;
}
#new .one:nth-child(2) .details{
   display: flex;
   justify-content:  center;
    flex-direction: column;
   align-items: center;
   text-align: center;
  }

  #new .one:nth-child(3) .details{
   display: flex;
   justify-content:  center;
    flex-direction: column;
   align-items: flex-end;
   text-align: end;
  }
 
  #new .two img{
    width: 100%;
   height: 100%;
   background-position:  center;
    background-repeat:  no-repeat;
    background-size: cover;
   }
      #new.two{
         position: relative;
      }
     
  
  
   #new .two .detail{
   position: absolute;
    top: 0;
   left: 0;
   color: violet;
   font-weight: bold;
   transition: 0.4s ease;
   opacity: 0.8;
   background-color: grey;
    width: 100%;
      height: 100%;
  } 
  #new .two .detail:hover{
    background-color: ghostwhite;
  }
  #new .two:nth-child(1) .detail{
   display: flex;
   justify-content:  center;
    flex-direction: column;
   align-items: flex-start;
   text-align: start;
  }
  #new .two:nth-child(2) .detail{
     display: flex;
     justify-content:  center;
      flex-direction: column;
     align-items: center;
     text-align: center;
    }
  
    #new .two:nth-child(3) .detail{
     display: flex;
     justify-content:  center;
      flex-direction: column;
     align-items: flex-end;
     text-align: end;
    }

















   .product{
 cursor: pointer;
 margin-bottom: 2rem;
   }
 .product img{
    width: 70%;
    height: 70%;
    transition: 0.3s all;

   }
    .product:hover img{
       opacity: 0.7;
    }
    hr {
      width: 100px;
      height: 4px !important;
      opacity: 1 !important;
      background-color: violet;
      margin: 0 auto; /* Add this line to center the <hr> horizontally */
    }
    
      .star{
      padding: 10px 0;
  

      }
        .star i{
         font-size: 0.9rem;
         color: goldenrod;
      }
#banner{
         background-image: url('../assets/css/js/imgs/banner.webp');
         width: 100%;
         height:100vh;
         background-size:cover; 
       
         background-position-y:80px ;
          background-repeat: no-repeat;
           background-attachment: fixed;
         display:flex;
         flex-direction: column;
          justify-content:center;
           align-items: flex-start ;
     
  }
   #banner h1{
 color: violet;
 }
  #banner button{
   background-color: violet;
  }
  #banner button:hover{
   background-color:   ghostwhite;
  }
  footer{
background-color:  grey;

  }
   footer{
      color: violet;
      font-weight: 700;
      font-size: 0.9rem;
   }
   
    footer h5{
      color: whitesmoke;
      font-weight: 700;
       font-size: 1.2rem;

    }
     footer li {
      padding-bottom: 4px;
     }
      footer li a {
         font-size: 0.8rem;
         color: violet;
         text-decoration: none;
      }
       footer li a:hover {
         color: #d8d8d8;
       }
       footer .copyright a {
          color: #000;
           height: 40px;
            width: 40px;
             background-color: #fff;
             display: inline-block;
             text-align: center;
             line-height: 38px;
             border-radius:50%;
             transition: o.3s ease;
              margin: 0 5px ;
       }
       footer .copyright a:hover{
         color:whitesmoke;
         background-color:violet;
       }
        footer p{
         color: violet;
        }
 footer .copyright img{
   width: 50%;
    height: 50%;
 }
  .logo{
   width: 50px;
   height: 50px;
  }
 .navbar .brand{
   color: violet;
   margin: 5px 5px;
 font-size:1.5rem ;
 }
  .small-img-group{
    display: flex;
    justify-content: space-between;
  }
  .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
  }
   .single-product input{
    width: 50px;
     height: 40px;
     padding-left: 10px;
      font-size: 16px;
      margin-right: 10px;

  }
  .single-product input:focus{
    outline: none;

  }
  .single-product .buy-btn{
    background-color: red;
    opacity: 1;
    transition: 0.4s all ;
  }
   .single-product .buy-btn:hover{
    background-color: #222222;
   }
    .cart table{

      width: 100%;
      border-collapse: collapse;
    }
    .cart .product-info{

       display: flex;
       flex-wrap: wrap;
    }
    .cart  th {
      text-align: left;
      padding: 5px 10px;
      color:  #fff;
      background-color:violet;
    }

     .cart td {
      padding: 10px 20px;

     }
     .cart td img {
       width: 80px;
       height: 80px;
       margin-right: 10px;
     }
      .cart td  input{

        width: 50px;
        height: 30px;
        padding: 5px;

      }
       .cart td a{
        color:  violet;
       }
       .cart .remove-btn{
        color:violet;
        text-decoration: none;
        font-size: 13px;
         width: 100%;
       }
       .cart .edit-btn{
        color: violet;
         text-decoration: none;
         font-size: 14px;
       }
        .cart .product-info p{
          margin: 3px;
        }
         .cart-total{
           display: flex;
            justify-content: flex-end;
          }
           .cart-total table{
            width: 100%;
            max-width: 500px;
          border-top: 3px solid violet;

           }
            td:last-child{
               text-align: right;
            }
             th:last-child{
              text-align: right ;
             }
              .checkout-container{
                display: flex;
                 justify-content:  flex-end;
              }
               .checkout-btn{
                background-color: violet;
                 color: #fff;
               }


               #login-form{
                width: 50%;
                margin: 5px auto;
                text-align: center;
               padding: 20px;
                border-top: 1px solid violet ;
               }
                #login-form input{
                  width: 50%;
                  margin: 5px auto;

                }
                 #login-form #login-btn{
                  background-color: violet;
                  color: #fff;
                 }
                  #login-form #register-url{
                    color:violet; 
                  }

                   #register-form{
                    width: 50%;
                     margin: 5px auto ;
                      text-align: center;
                       padding: 20px ;
                       border-top: 1px solid violet;
                   }
                    #regsiter-form input{
                      width: 50%;
                       margin: 5px auto;
                    }
                     #register-form #reggister-btn{
                      background-color:  violet;
                      color: #fff;
                     }
                      #register-form #register-url{
                        color: violet;
                      }




                       #account-form{
                        width: 50%;
                         margin: 35px auto;
                          text-align: center;
                           padding: 20px;

                       }
 #account-form input {
   margin:  5px auto ;

 }
  #account-form ,#change-pass-btn{
    color: #fff;
      color:  violet;
  }
   #account-info, #order-btn,  #logout-btn{
    color: violet;
    text-decoration: none ;
   }
    .orders table{
      width: 100%;
      border-collapse: collapse;
    }
    .orders .product-info{
      display: flex;
      flex-wrap: wrap;
    }
    .orders th{
      padding: 5px 20px;
       color: #fff;
        background-color: violet;
         text-align: left;
    }
   .orders .order--details-btn{
   color: #fff;
   background-color:violet;
  }
   
  
     .orders td {
       padding: 10px;

     }
      .orders td img{
        width: 80px;
        height: 80px;
        margin-right:10px ;
      }
       #checkout-form .checkout-small-element{
        display: inline-block;
        width: 48%;
        margin: 10px auto;

       }
        #checkout-form .checkout-large-element{
          width: 97%;
        }
        #checkout-form .checkout-btn-element{
       margin: 10px;
       text-align: right;
       margin-right: 40px;
        }
        #checkout-form #checkout-btn{
           color: #fff;
           background-color: violet ;
        }
         #conatct span{
          color: red;
         }
       
.cart-quantity{
   background-color: violet;
   color: #fff;
   padding: 2px 5px;
   border-radius: 50%;
   margin: -5px;
   font-size: 1rem;
 }
 
 
  .pagination a {
    color: grey;

  }
  .pagination  li:hover a{

    color: #fff;
    background-color: violet ;
  }
  #search input{
  
    background-color: violet;
    transition: 0.4s ease ;
  }
  #search input:hover{
    color: grey;
  
   }

  
 
            